.container {
    margin: auto;
    justify-content: space-between;
    width: 80%;
    max-width: 750px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: scale(0);
    animation: scaleIn 0.5s forwards ease-in-out;
    height: 400px;
}

/* 输入框样式 */
.contact-form {
    margin-right: 20px;
    float: left;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    opacity: 0.5;
}

textarea {
    height: 80px;
}

.send-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.send-btn:hover {
    background-color: #0056b3;
}

/* 联系信息样式 */

.contact-info{
    float: right;
    width: 400px;
}
.contact-info p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
    margin-top: 30px;
    padding-left: -250px;
}
.icons{
    margin-top: 360px;
    margin-left: 250px;
}
.icons>a:nth-child(n+1){
    margin-left: 30px;
}
/* 动画效果 */
@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.foot{
    text-align: center;
    margin-top: 80px;
}